# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]
max_allowed_packet=1073741824
#table_definition_cache=1024

[mysqld]
max_allowed_packet=1073741824
table_definition_cache=1024
max_statement_time = 60

[mysqldump]
innodb_log_buffer_size = 128M
innodb_max_dirty_pages_pct = 0
innodb_buffer_pool_size = 2G
key_buffer_size = 512M
innodb_io_capacity = 600
