# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]
max_allowed_packet=1073741824
table_definition_cache=1024

[mysqld]
max_allowed_packet=1073741824
table_definition_cache=1024
